@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
//$accent ?= #fbe9e4
$accent ?= #fdf5f3
$grey ?= #939598

// Metrics
$padding = 3rem
$paddingSmall = 2rem
$spaceBetween = ($padding*2)
$paddingResp = 7vh
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	font-family 'ChronicleDisplay-Light', Helvetica Neue, Arial, sans-serif
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 1.4rem

@import 'loader.styl'

p
	margin-bottom 1em
	line-height 140%

p:last-child
	margin-bottom 0

::selection
	background $accent
	color alpha($secondary, 0.8)
	
::-moz-selection
	background $accent
	color alpha($secondary, 0.8)

*
	//hideselect()
	box-sizing(border-box)

video
	display block
	width 100%

img
	display block
	max-width 100%

.lazyimg, .plyr
	hideselect()
	transition(opacity 600ms ease)
	opacity 0

.lazyimg.lazyloaded, .lazyimg.flickity-lazyloaded, .lazyimg.flickity-bg-lazyloaded, .plyr.plyr--ready
	opacity 1

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

em, .readmore
	font-family 'ChronicleDisplay-LightItalic'

h2
	margin .4em 0

h1, h2, h3
	font-size 3.8rem

.lead
	font-size 6rem
	p
		line-height 100%

.small
	p
		line-height 120%

h4
	margin-top .5em
	margin-bottom 1em

h4, h5, .explore, .small, .project-categories
	font-family 'GothamBook'
	font-size 1rem
	letter-spacing .05em
	text-transform uppercase
	line-height 130%


.explore
	margin-left .3em

.readmore
	cursor pointer

.readmore::after
	content '\2014Read More'

.item-description, .project-description, .project-readmore, .readmore
	font-size 1.3rem

.black
	color #000 !important

.white
	color #fff !important

.center
	text-align center !important

.mt
	margin-top $padding
	
.mb
	margin-bottom $padding

.my
	margin-top $padding
	margin-bottom $padding

.mx
	margin-left $padding
	margin-right $padding

hr
	width 100%
	height 0
	border none
	border-bottom 1px solid alpha($grey, 0.5)
	margin $spaceBetween 0

.cf
	clearfix()

.project-categories
	span:not(:last-child)::after
		content ' / '

.col-1-3
	col(1/3, cycle:3, gutter:2)
	+below($md)
		stack()
		margin-bottom $padding

.col-1-2
	col(1/2, cycle:2, gutter:2)
	+below($md)
		stack()
		margin-bottom $padding

.span-1-2
	span(1/2)
	+below($md)
		stack()
		margin-bottom $padding

.flickity-page-dots
	width auto
	align(vertical)
	bottom initial
	right $padding
	left initial
	.dot
		display block
		width .7rem
		height .7rem
		margin 1.2rem 0
		background $primary
		opacity 1
	.dot.is-selected
		background $accent

.flickity-prev-next-button, .flickity-prev-next-button:hover
	background transparent

.flickity-prev-next-button.previous
	left $padding

.flickity-prev-next-button.next
	right $padding

.flickity-prev-next-button .arrow
	fill $primary

header
	hideselect()
	width 25rem
	padding $padding 0 0 ($padding/2)
	top 0
	align(horizontal)
	position fixed
	z-index 100
	#site-title
		svg
			transition(fill 500ms ease)
			width 100%
			fill $primary
		.secondary
			display none

header.grey, body.page header
	#site-title
		svg
			fill $grey

#wrapper, #container
	span(1)

#container
	transition(opacity 300ms ease)

section
	width 100%
	display table
	margin-bottom $spaceBetween
	+below($md)
		margin-bottom $padding

div.cta-button
	margin $paddingSmall 0
	width 100%
	position absolute
	bottom 0
	left 0
	z-index 10

#featured-projects
	.featured-item
		span(1)
		position relative
		background $primary center no-repeat
		background-size cover
		height 95vh
		.cta-button
			display none
	.clone.cta-button
		transition(all 500ms ease)
		a
			display block
	.clone.cta-button.hidden
		transition(opacity 600ms ease)
		opacity 0
		overflow hidden
		a
			transition(transform 500ms $kinetic)
			transform(translateY(100%) translateZ(0))

#intro
	// flexbox()
	// justify-content center
	// align-items center
	+below($md)
		display block
	.recent-project
		hideselect()
		span(1/2)
		position relative
		+below($md)
			stack()
			margin-bottom $padding
		img
			position relative
			z-index 0
			width 100%
	.intro-text
		//span(1/2)
		span(1)
		padding $paddingResp
		+below($md)
			stack()
			padding 0

#projects
	margin-bottom $spaceBetween
	hideselect()
	.gutter-sizer
		width 2%
	.grid-sizer
		width 48%
	.project-item
		width 48%
		position relative
		cursor pointer
		img
			transition(opacity 200ms ease)
		a
			display block
		.item-description
			padding 2em 0
		.overlay
			transition(opacity 200ms ease)
			opacity 0
			background $primary
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			text-align center
			.inner
				align(vertical)
				position relative
				width 50%
				margin-left auto
				margin-right auto
	.project-item:hover
		img
			opacity 0
		.overlay
			opacity 1
	.project-item.highlight
		height 22.1vw
		.overlay
			background $accent
			opacity 1

#page-content
	span(1)
	margin-top 15rem
	#project-infos
		span(6/14, offset: 4/14)
		margin-bottom 2.5em
		.project-categories
			padding 1.5em 0
		.project-description
			padding-top 1.5em
		.project-categories ~ .project-description
			padding-top 0
		.project-description.readmore
			position relative
			padding-bottom 0
		.project-description.readmore::after
			transition opacity 200ms ease, visibility 200ms ease
			cursor pointer
			position absolute
			width 100%
			bottom -2em
			left 0
		.project-description.readmore.clicked::after
			opacity 0
			visibility hidden
		.project-readmore
			display none
	.slider-section
		.gallery-cell
			width 100%

#page-content.home
	margin-top 0

footer
	transition(all .7s $kinetic)
	span(1)
	background $accent
	padding $paddingResp 0
	top 100%
	left 0
	.col-1-3
		+above($xl)
			col(1/3, cycle:3, gutter:13)
	.col-1-2
		+above($xl)
			col(1/2, cycle:2, gutter:13)
	#socials
		margin-top 2em
		img
			display inline-block
			margin-right 10px

.contained
	width 80%
	margin-right auto
	margin-left auto

body.loading
	cursor wait
	#container
		opacity 0

.svg
	.logo.fallback
		display none

.no-svg, .no-csstransforms
	#outdated
		display block