@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1024px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
//$accent ?= #fbe9e4
$accent ?= #fdf5f3
$grey ?= #d1d2d3

// Metrics
$padding = 3rem
$paddingSmall = 2rem
$spaceBetween = $padding
$paddingResp = 7vh
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
$cubic = cubic-bezier(0.4, 0.01, 0.165, 0.99)
$shadow = drop-shadow(0 0 4px rgba(0,0,0,0.2))

// CSS Reset
global-reset()

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $accent

html
	font-size 62.5%

body
	font-family "Chronicle Display A", "Chronicle Display B", Helvetica Neue, Arial, sans-serif
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 1.4rem
	font-style normal
	font-weight 300
	+below($xl)
		font-size 1.2rem

@import 'loader.styl'

p
	font-style normal
	margin-bottom 1em
	line-height 140%

p:last-child
	margin-bottom 0

::selection
	background $accent
	color alpha($secondary, 0.8)
	
::-moz-selection
	background $accent
	color alpha($secondary, 0.8)

*
	//hideselect()
	box-sizing(border-box)

video
	display block
	width 100%

img
	display block
	max-width 100%

.lazyimg, .plyr
	hideselect()
	transition(opacity 600ms ease)
	opacity 0

.lazyimg.lazyloaded, .lazyimg.flickity-lazyloaded, .lazyimg.flickity-bg-lazyloaded, .plyr.plyr--ready
	opacity 1

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

em, .readmore
	font-style italic

h2
	margin .4em 0

h1, h2, h3
	font-size 3.8rem
	+below($xl)
		font-size 3rem

.lead
	font-size 6rem
	+below($sm)
		font-size 3rem
	p
		line-height 100%

.small
	p
		line-height 120%

h4
	margin-top .5em
	margin-bottom 1em

h4, h5, .explore, .small, .project-categories, #featured-projects::after
	font-family "Gotham A", "Gotham B"
	font-style normal
	font-weight 400
	font-size 1rem
	letter-spacing .05em
	text-transform uppercase
	line-height 130%
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing initial
	+below($xl)
		font-size 0.9rem


.explore
	margin-left .3em

.readmore
	cursor pointer

.readmore::after
	content '\2014Read More'

.item-description, .project-description, .project-readmore, .readmore
	font-size 1.3rem

.black
	color #000 !important

.white
	color #fff !important

.center
	text-align center !important

.mt
	margin-top $padding
	
.mb
	margin-bottom $padding

.my
	margin-top $padding
	margin-bottom $padding

.mx
	margin-left $padding
	margin-right $padding

hr
	width 100%
	height 0
	border none
	border-bottom 1px solid alpha($grey, 0.5)
	margin $spaceBetween 0

.cf
	clearfix()

.project-categories
	span:not(:last-child)::after
		content ' / '

.columns-2
	+above($sm)
		vendor(column-count, 2)
	
.col-1-3
	col(1/3, gutter:2)
	+below($sm)
		stack()
		margin-bottom $padding

.col-2-3
	col(2/3, gutter:2)
	+below($sm)
		stack()
		margin-bottom $padding

.col-1-2
	col(1/2, cycle:2, gutter:2)
	+below($sm)
		stack()
		margin-bottom $padding

.span-1-2
	span(1/2)
	+below($sm)
		stack()
		margin-bottom $padding

.flickity-page-dots
	width auto
	align(vertical)
	bottom initial
	right $padding
	left initial
	.dot
		display block
		width .7rem
		height .7rem
		margin 1.2rem 0
		background $primary
		opacity 1
	.dot.is-selected
		background $accent

.flickity-prev-next-button, .flickity-prev-next-button:hover
	background transparent
	+below($md)
		width 30px

.flickity-prev-next-button.previous
	left $padding
	+below($md)
		left 1rem

.flickity-prev-next-button.next
	right $padding
	+below($md)
		right 1rem

.flickity-prev-next-button .arrow
	fill $grey

header
	width 100%
	hideselect()
	padding $padding 0 0 ($padding/2)
	top 0
	position fixed
	z-index 300
	#site-title, #site-title-mobile
		svg
			width 100%
			fill $grey
		.secondary
			display none
	#site-title
		width 22rem
		align(horizontal)
		+below($md)
			width 17rem
	#site-title-mobile
		display none
		height 100%
		z-index 200
		.inner
			width 100%
			position relative
		svg, div
			fill $grey
			width auto
			height 100%
			display block
			float left
		#logo_s_every
			overflow hidden
			transition(width 300ms $kinetic)
			width 0
		#menu-icon
			width: 20px;
			height: 17px;
			margin-top 3px
			position: absolute;
			right 0
			top: 0;
			transform(rotate(0deg))
			transition(all, .5s)
			cursor: pointer;
			span
				display: block;
				position: absolute;
				height: 1px;
				width: 100%;
				background: $grey;
				opacity: 1;
				left: 0;
				transform(rotate(0deg))
				transition(all .25s ease)
			span:nth-child(1)
				top: 0px;
			span:nth-child(2), span:nth-child(3)
				top: 7px
			span:nth-child(4)
				top: 15px;

body.home header:not(.reduced)
	position fixed
	//vendor(filter,$shadow)

body.page header:not(.reduced)
	//vendor(filter, none)

body.home header.reduced
	animation(godown 200ms $kinetic forwards)

body.page header, header.reduced
	width 100%
	padding ($padding/2) 0
	background $primary
	#site-title
		display none
	#site-title-mobile
		display block
		height $padding
		.small
			height 100%
			display block

#site-title-mobile .logo:hover
		// svg
		// 	fill $primary
		#logo_s_every
			+above($md + 1)
				width 13.7rem

#category-menu
	position absolute
	top .5rem
	right 0
	z-index 300
	//vendor(filter,$shadow)
	ul.menu
		transition: all 0.3s $cubic
		opacity 0
		visibility hidden
		position: absolute;
		display: block;
		top: 0;
		width: calc((100vw - 130rem) / 2)
		right: calc((100vw - 130rem) / -2);
		list-style: none
		color $grey
		background $primary
		+below($xl)
			width: calc((100vw - 95rem) / 2)
			right: calc((100vw - 95rem) / -2);
		+below(1250px)
			padding-top: 22px;
			width 50%
			height 100%
			right 0
			position fixed
		+below($md)
			width 100%
		li.menu-item
			margin-bottom .5em
			h5
				+below($md)
					font-size 1.5rem
#category-menu.open
	height: 100%
	#menu-icon
		z-index 300
		span:nth-child(1)
			top: 7px;
			width: 0%;
			left: 50%;
		span:nth-child(2)
			transform(rotate(45deg))
		span:nth-child(3)
			transform(rotate(-45deg))
		span:nth-child(4)
			top: 18px;
			width: 0%;
			left: 50%;
	.burger-container
		transform(rotate(90deg))
		#burger
			.bar
				transition: all 0.4s $cubic
				transition-delay: 0.2s
			.topBar
				transform(translateY(3px) rotate(45deg))
			.btmBar
				transform(translateY(0px) rotate(-45deg))
	ul.menu
		opacity 1
		visibility visible

#wrapper, #container
	span(1)
	background $primary

#container::after
	content ''
	transition(all 400ms ease)
	position fixed
	width 100%
	height 100%
	z-index 200
	background $primary
	opacity 0
	visibility hidden

section
	width 100%
	display table
	margin-bottom $spaceBetween
	+below($sm)
		margin-bottom $padding

div.cta-button
	margin $paddingSmall 0
	width 100%
	position absolute
	bottom 0
	left 0
	z-index 10

#featured-projects
	.featured-item
		span(1)
		position relative
		background $primary center no-repeat
		background-size cover
		// height calc(100vh - 20rem)
		// +below($md)
		// 	height 40vh
		.cta-button
			display none
	.clone.cta-button
		transition(all 500ms ease)
		a
			display block
	.clone.cta-button.hidden
		transition(opacity 600ms ease)
		opacity 0
		overflow hidden
		a
			transition(transform 500ms $kinetic)
			transform(translateY(100%) translateZ(0))

#featured-projects::after
	transition(opacity 600ms ease)
	content 'Scroll to discover'
	display block
	width 100%
	text-align center
	padding-top 4vh
	//animation(blink 1s infinite alternate)

#featured-projects.no-invite::after
	opacity 0

#featured-projects.animated
	.flickity-slider
		transform(none !important)
	.featured-item
		transition(none)
		left 0 !important
		visibility hidden
		z-index 0
	.featured-item.is-selected
		visibility visible
		opacity 1
		z-index 1

#intro
	// flexbox()
	// justify-content center
	// align-items center
	// +below($md)
	// 	display block
	.recent-project
		hideselect()
		span(1/2)
		position relative
		+below($md)
			stack()
			margin-bottom $padding
		img
			position relative
			z-index 0
			width 100%
	.intro-text
		//span(1/2)
		span(1)
		padding $paddingResp 0
		+below($md)
			stack()
			padding 0
		.small
			padding 0 10%
			+above($md)
				padding 0 30%

#projects
	margin-bottom $spaceBetween
	hideselect()
	.gutter-sizer
		width 2rem
		+below($md)
			width 2.5%
	.grid-sizer
		width (( 130rem - 2 ) / 2)
		+below($xl)
			width (( 95rem - 2 ) / 2)
		+below($md)
			width 48.75%
		+below($sm)
			width 100%
	.project-item
		position relative
		cursor pointer
		width (( 130rem - 2 ) / 2)
		+below($xl)
			width (( 95rem - 2 ) / 2)
		+below($md)
			width 48.75%
		+below($sm)
			width 100%
		img
			transition(opacity 200ms ease)
		a
			display block
		.item-description
			padding 2em 0
		.overlay
			transition(opacity 200ms ease)
			opacity 0
			background $primary
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			text-align center
			.inner
				align(vertical)
				position relative
				width 60%
				margin-left auto
				margin-right auto
				+below($md)
					width 90%
	.project-item:hover
		img
			opacity 0
		.overlay
			opacity 1
	.project-item.highlight
		height ((( 130rem - 2 ) / 2) * 2/3)
		+below($xl)
			height ((( 95rem - 2 ) / 2) * 2/3)
		+below($md)
			height 36vw
		+below($sm)
			height 40rem
		.overlay
			background $accent
			opacity 1

#page-content
	span(1)
	margin-top 12rem
	#project-infos
		span(6/14, offset: 4/14)
		margin-bottom 2.5em
		+below($md)
			stack()
		.project-categories
			padding 1.5em 0
		.project-description
			padding-top 1.5em
		.project-categories ~ .project-description
			padding-top 0
		.project-description.readmore
			position relative
			padding-bottom 0
		.project-description.readmore::after
			transition opacity 200ms ease, visibility 200ms ease
			cursor pointer
			position absolute
			width 100%
			bottom -2em
			left 0
		.project-description.readmore.clicked::after
			opacity 0
			visibility hidden
		.project-readmore
			display none
	.content
		background alpha($grey, 0.3)
	.slider-section
		.gallery-cell
			width 100%
	.images-section
		+below($md)
			margin-bottom 0

#page-content.home
	//margin-top 0

footer
	transition(all .7s $kinetic)
	span(1)
	background $accent
	padding $paddingResp 0
	top 100%
	left 0
	z-index 200
	+below($sm)
		height 'calc(100vh - %s)' % ($padding*2)
	.col-1-3
		+above($xl)
			col(1/3, cycle:3, gutter:13)
	.col-2-3
		+above($xl)
			col(2/3, cycle:3, gutter:13)
	.col-1-2
		+above($xl)
			col(1/2, cycle:2, gutter:13)
	#socials
		margin-top 2em
		img
			display inline-block
			margin-right 10px
			+below($md)
				width 2rem

.contained
	max-width 130rem
	margin-right auto
	margin-left auto
	+below($xl)
		max-width 95rem
	+below($md)
		max-width 95%

.contained.narrow
	max-width 90rem

body.loading
	cursor wait
	#container::after
		opacity 1
		visibility visible

.svg
	.logo.fallback
		display none

.no-svg, .no-csstransforms
	#outdated
		display block